---
---
@import "variables";
@import "_reset";
@import "_mixins";
@import "_basic";
@import "_includes/_header";
@import "_includes/_footer";
@import "_includes/_content";
@import "_includes/_socials";
@import "_includes/_syntax";
@import "_includes/_blog";
@import"_includes/_comments";

#gh-comments-list a.user,
#gh-comments-list a.comment-url {
  text-decoration: none !important;
  box-shadow: none !important;
  border-bottom: none !important;
}
