---
layout: default
title:
subtitle: 
description: 
---

<section class="blog single">
	<div class="wrap">
		{% for project in site.projects reversed %}
		<article class="blog-post">
			<a href="{{ project.url }}">
				{% if project.featured_image %}
				<div class="blog-post__image" style="background-image: url({{ project.featured_image  }});"></div>
				{% endif %}
				<div class="blog-post__content">
					<h3>{{ project.title }}</h3>
					<p>{{ project.subtitle }}</p>
				</div>
			</a>
		</article>
		{% endfor %}
	</div>
</section>