---
layout: default
title:
description: we make things...
---

<section class="blog single">

	<div class="wrap">

		{% for post in paginator.posts %}
			{% if post.skip_from_archives != true %}

				<article class="blog-post">

					<div class="blog-post__header">
						<h3 class="blog-post__title"><a href="{{ post.url }}">{{ post.title }}</a></h3>
						<p class="blog-post__subtitle">{{ post.date | date_to_long_string }}</p>
					</div>

					{% if post.featured_image %}
					<a href="{{ post.url }}" class="blog-post__image" style="background-image: url({{ post.featured_image  }});"></a>
					{% endif %}

					<div class="blog-post__content">
						<p>{{ post.excerpt }}</p>
						<p><a href="{{ post.url }}" class="button">Read More</a>
					</div>

				</article>
			{% endif %}
		{% endfor %}

	</div>

</section>

{% if paginator.total_pages > 1 %}

<section class="pagination">

	{% if paginator.previous_page %}
	<div class="pagination__prev">
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="button button--large"><svg aria-hidden="true" style="width:1rem;height:1rem;vertical-align:text-bottom;line-height:1;" focusable="false" data-prefix="fas" data-icon="angle-left" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-left fa-w-8 fa-3x"><path fill="currentColor" d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z" class=""></path></svg></i> <span>Newer Posts</span></a>
	</div>
	{% endif %}
	{% if paginator.next_page %}
	<div class="pagination__next">
		<a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="button button--large"><span>Older Posts</span> <svg aria-hidden="true" style="width:1rem;height:1rem;vertical-align:text-bottom;line-height:1;" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512" class="svg-inline--fa fa-angle-right fa-w-8 fa-3x"><path fill="currentColor" d="M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z" class=""></path></svg></a>
	</div>
	{% endif %}

</section>

{% endif %}
