.header {
	background: #000;
	padding: 2rem 1rem;
	color: var(--header-color);

	a {
		color: var(--header-color);
	}

	@include mq(tabletl) {
		position: fixed;
		z-index: 10;
		overflow: auto;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20rem;
		padding: 0;
	}

	@include mq(desktop) {
		width: 20rem;
	}
}

.header-image {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0;
	@include transition(opacity 0.4s ease-in-out);

	@include mq(tabletl) {
		position: fixed;
		right: auto;
		width: 20rem;
	}

	@include mq(desktop) {
		width: 20rem;
	}
}

.header-image--on {
	opacity: 1;
}

.header-overlay {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;

	@include mq(tabletl) {
		background: linear-gradient(to bottom, rgba(0,0,0,.2) 0%, #000 100%);
	}
}

.header__content {
	position: relative;

	@include mq(tabletl) {
		position: absolute;
		bottom: 0;
		padding: 2rem;
	}

	@include mq(laptop) {
		padding: 2rem;
	}

	a {
		border-bottom: .05em solid transparent;

		&:hover,
		&:focus,
		&:active {
			outline: none;
			border-bottom-color: currentColor;
		}

		&:focus,
		&:active {
			box-shadow: 0 .075em;
		}
	}
}

.header__logo {
	display: block;
	max-width: 80%;

	@include mq(tabletp) {
		float: left;
		max-width: 50%;
	}
}

.header__logo__img {
	width: 100%;
	height: auto;
}

.header__title {
	font-family: var(--font-family);
	font-size: var(--sitetitle-size);
	font-weight: var(--sitetitle-weight);
	line-height: 1;
	color: var(--header-color);

	&:hover {
		color: var(--header-color);
	}
}

.header__tagline {
	margin-top: 10px;
	font-family: var(--font-family);
	font-size: var(--tagline-size);
	font-weight: var(--tagline-weight);
}

.menu {

	@include mq(tabletl) {
		margin-top: 1.2rem;
	}

	@include mq(laptop) {
		margin-top: 1.2rem;
	}
}

.menu__toggle {
	position: absolute;
	z-index: 100;
	top: 0;
	right: 0;
	cursor: pointer;
	font-size: 15px;
	line-height: 20px;
	background: none;
	border: none;
	color: #fff;
	font-weight: 900;
	box-shadow: none;
	padding: .5rem;
	border: 2px solid transparent;

	&:hover,
	&:focus {
		border-color: #fff;
	}

	@include mq(tabletl) {
		display: none;
	}
}

.menu__toggle__icon {
	float: right;
	position: relative;
	width: 24px;
	height: 20px;
	margin-left: 8px;

	span,
	span:before,
	span:after {
		content: '';
		position: absolute;
		top: 8px;
		left: 0;
		width: 100%;
		height: 3px;
		@include transition(all 0.1s);
		background: var(--header-color);
	}

	span:before {
		top: -8px;
	}

	span:after {
		top: 8px;
	}
}

.menu--open .page {
	visibility: hidden;

	@include mq(tabletl) {
		visibility: visible;
	}
}

.menu--open .menu__toggle__icon {

	span:before,
	span:after {
		background: var(--header-color) !important;
	}

	span {
		background-color: transparent !important;
	}

	span:before,
	span:after {
		top: 0;
	}

	span:before {
		@include rotate(45);
	}

	span:after {
		@include rotate(-45);
	}
}

.menu__wrap {
	position: fixed;
	z-index: 90;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: var(--header-bg);
	overflow: auto;

	visibility: hidden;
	opacity: 0;
	@include transition(all 0.2s ease-in-out);

	@include mq(tabletl) {
		position: relative;
		background: transparent;
		visibility: visible;
		overflow: visible;
		opacity: 1;
		@include transition(none);
	}
}

.menu--open .menu__wrap {
	visibility: visible;
	opacity: 1;
}

.menu__list {
	list-style: none;
	margin: 0 auto;
	padding: 2.5rem;

	@include mq(tabletl) {
		margin: 0;
		padding: 0;
	}
}

.menu__list__item {}

.menu__list__item__link {
	font-size: var(--menu-size);
	font-weight: var(--menu-weight);
	padding: 1rem 0;
	opacity: .7;

	&:hover {
		opacity: 1;
	}

	@include mq(tabletl) {
		padding: 0;
	}

	&.active-link {
		color: var(--header-color);
	}
}

.menu__button {
	margin-top: 15px;
	padding: 15px 20px 16px;
	font-size: 13px;

	@include mq(tabletl) {
		margin-top: 0;
		padding: 11px 20px 12px;
		font-size: 15px;
	}
}

.header .socials {
	padding: 12px 20px;

	@include mq(tabletp) {
		padding: 10px 40px;
	}

	@include mq(tabletl) {
		margin: 27px 0 0;
		padding: 0;
	}

	@include mq(laptop) {
		margin-top: 35px;
	}

	.socials__item__link {
		background: var(--header-color);
		color: #000;

		&:hover,
		&:focus,
		&:active {
			background: var(--header-color);
			color: #000;
		}
	}
}