.socials {
	list-style: none;
	margin: 0;
	padding: 0;
}

.socials__item {
	display: inline-block;
	margin-left: 2px;

	&:first-child {
		margin-left: 0;
	}
}

.socials__item__link {
	position: relative;
	display: block;
	width: 2.0rem;
	height: 2.0rem;
	border-radius: 100%;
	background: var(--color);
	font-size: 1rem;
	line-height: 1;
	color: currentColor;

	svg {
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%, -52%);
	}

	&:hover {
		background: var(--accent-color);
		color: currentColor;
	}
}
